%rounded-card-center {
    border-radius: 12px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /*extended uslubi buni har joyda chaqirib keta olamzi*/
}

%list-none {
    list-style-type: none;
    text-decoration: none;
    cursor: none;
}